<p id="notice"><%= notice %></p>

<p>
  <strong>College:</strong>
  <%= @branch.college_id %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @branch.branch_name %>
</p>

<%= link_to 'Edit', edit_college_branch_path(@college,@branch) %> |
<%= link_to 'Back', college_branches_path(@college) %>
