<h3>List of students under <%= @college.name %> and <%=@branch.branch_name %></h3>
<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Branch</th>
      <th>Student name</th>
      <th>Student address</th>
      <th>Student sem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.branch.branch_name %></td>
        <td><%= student.student_name %></td>
        <td><%= student.student_address %></td>
        <td><%= student.student_sem %></td>
        <td><%= link_to 'Show', [@college,@branch,student] %></td>
        <td><%= link_to 'Edit', edit_college_branch_student_path(@college,@branch,student) %></td>
        <td><%= link_to 'Destroy', [@college,@branch,student], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Student', new_college_branch_student_path(@college,@branch), :class => "btn btn-primary" %>

<br>
<%= will_paginate @students %>

