
<p id="notice"><%= notice %></p>

<h3>Students</h3>

<table class="table table-bordered">
  <thead>
    <tr>
			<th>Student name</th>
			<th>Branch</th>
			<th>College</th>
      <th>Student sem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
				<td><%= student.student_name %></td>
				<td><%= student.branch.branch_name %></td>
				<td><%= student.branch.college.name %>
        <td><%= student.student_sem %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @students %>
<br>


